<div class="container">
<h1>Ideias do evento <%= @event.name %></h1>

<table>

<% @ideas.each do |idea| %>
  <tr>
    <td><%= link_to idea.nome, event_idea_path(@event, idea) %></td>
    <% idea.authors.each do |author| %>
    <h1><%= author.name %>
      <% end %>
    <td><%= idea.link %></td>
    <td><%= link_to 'Edit', edit_event_idea_path(@event, idea) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Idea', new_event_idea_path %>
</div>