<div class="container">
<h1>Ideias do evento <%= @event.name %></h1>


<ul class="ideas">
	<li class="idea">
		<%= link_to 'New Idea', new_event_idea_path %>
	</li>
<% @ideas.each do |idea| %>
  	<li class="idea">
  		<div align="center">
    	<h3><%= link_to idea.nome, event_idea_path(@event, idea) %></h3>
    </div>
    	<br />
    	Authors:
    	<%= idea.authors.map {|a| a.nome}.join ',' %>
    	<p><%= idea.link %></p>
    	<p><%= link_to 'Edit', edit_event_idea_path(@event, idea) %></p>
	</li>
<% end %>
</ul>

<br />
</div>