<h1>Listing events</h1>


<ul class="ideas">
  <li class="idea">
    <%= link_to 'New Event', new_event_path %>
  </li>
<% @events.each do |event| %>
    <li class="idea">
      <div align="center">
      <h3><%= link_to event.name, event %></h3>
    </div>
      <br />
      <p><%= event.city %></p>
      <p><%= event.country %></p>
      <p><%= link_to 'Edit', edit_event_path(event) %></p>
  </li>
<% end %>
</ul>

<br />


